<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% include "layouts/required_library.html" %}
    <style>
        .table-responsive {
            height: 400px;
            overflow: scroll;
        }

        thead tr:nth-child(1) th {
            background: white;
            position: sticky;
            top: 0;
            z-index: 10;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
{% include "layouts/nav.html" %}
{% include "layouts/success.html" %}
{% include "layouts/error.html" %}
{% load custom_tags %}
<div class="card">
    <div class="card-header">
        <h2 class="text-center" style="color: blueviolet">We have {% courses_number %} Courses</h2>
    </div>
    {% courses_number as courses_number %}
    {% if courses_number %}
        <div class="card-body table-responsive  p-0" style="height: 550px;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Pre-Requisite</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.prerequisite }}</td>
                        <td>{{ course.type }}</td>
                        <td><a href="{% url "course_info" course.id %}" class="btn btn-primary" style="background-color: blueviolet">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>


{% include "layouts/footer.html" %}
</body>
</html>