{% extends 'layouts/base.html' %}
{% block theme %}bg{% endblock theme %}
{% block content %}
    <main class="container" style="font-family: 'Molin', sans-serif">
        <div class="row">
            <div class="col">
                <div class="card bg-black">
                    <h2 class="card-header text-center" style="color: blueviolet;font-family: 'Molin', sans-serif">
                        Course Info</h2>
                    <div class="card-body" style="color: white">
                        <br>
                        <h5>Code: {{ course.code }}</h5>
                        <h5>Name: {{ course.name }}</h5>
                        <h5>Credit Hour: {{ course.credit_hour }}</h5>
                        <h5>Pre-Requisite: {{ course.prerequisite }}</h5>
                        <h5>Type: {{ course.type }}</h5>
                        <br>
                    </div>
                    {% if course %}
                        <div class="card-footer text-center">
                            <form method="get" action="{% url "enroll_in_course" course.id %}">
                                {% if enrolled %}
                                    <h5 style="color: white">Enrolled on: {{ date_enrolled }}</h5>
                                    <button type="submit" class="btn btn-primary disabled"
                                            style="background-color: blueviolet">Enrolled</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary" style="background-color: blueviolet">
                                        Enroll</button>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}