<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    {% include "required_library.html" %}
    {% block head %}
    {% endblock head %}
</head>
<body class="d-flex flex-column min-vh-100 {% block theme %}bg-dark{% endblock theme %}">
{% include "layouts/nav.html" %}
{% include "layouts/success.html" %}
{% include "layouts/error.html" %}
{% block content %}
{% endblock content %}
{% include "layouts/footer.html" %}
</body>
</html>