<style>

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }
    }

    /* ============ desktop view .end// ============ */

</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class='fa-solid fa-building-columns' style='color:#ffdf00'></i> SCS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class='fas fa-home'
                                                                               style='color:#ffdf00'></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fa-solid fa-circle-info' style='color:#ffdf00'></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fa fa-comment' style='color:#ffdf00'></i> Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fas fa-user-graduate' style='color:#ffdf00'></i> Colleges</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class='fa fa-sign-out' style='color:#ffdf00'></i> Sign
                                Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown"><i
                                    class='fa fa-user-plus' style='color:#ffdf00'></i> Sign Up</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url "student_signup" %}">As a Student</a></li>
                                <li><a class="dropdown-item" href="{% url "doctor_signup" %}">As a Doctor</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "Login" %}"><i class='fa fa-sign-in'
                                                                            style='color:#ffdf00'></i> Login</a>
                        </li>
                        <li>
                            &nbsp &nbsp &nbsp &nbsp
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
