<style>
    @media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }
    }
</style>
{% load custom_tags %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand active" href="{% url "home" %}">
            <i class='fa-solid fa-building-columns' style='color:#30fcfa'></i> SCS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% active request.path "home" %}" aria-current="page" href="{% url "home" %}">
                        <i class='fas fa-home' style='color:#30fcfa'></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fa-solid fa-circle-info' style='color:#30fcfa'></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fa fa-comment' style='color:#30fcfa'></i> Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fas fa-user-graduate' style='color:#30fcfa'></i> Colleges</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% active_in request.path "course" %}"
                       href="#" id="dropdown" data-bs-toggle="dropdown">
                        <i class='fas fa-book-open' style='color:#30fcfa'></i> Courses
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_doctor %}
                            <li><a class="dropdown-item {% active request.path "create_course" %}"
                                   href="{% url "create_course" %}">
                                <i class="fa-solid fa-plus" style="color: green"></i> Create Course</a></li>
                        {% endif %}
                        <li><a class="dropdown-item {% active request.path "view_courses" %}"
                               href="{% url "view_courses" %}">
                            <i class="fa-solid fa-list" style="color: green"></i> View Course</a></li>
                    </ul>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link {% active request.path "visualization" %}" href="{% url "visualization" %}">
                        <i class='fa fa-pie-chart' style='color:#30fcfa'></i> Visualization</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown">
                            <img class="rounded-circle" src="{{ user.picture.url }}" alt="home"
                                 style="width: 2pc; height: 2pc"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center"><strong>{{ user.get_username }}</strong>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item text-center {% active_in request.path "user" %}"
                                   href="{% url "user_info" user.get_username %}" target="">
                                <i class='fa fa-user' style='color:black'></i>
                                <strong>Profile</strong></a></li>
                            <li class="nav-link">
                                <a class="dropdown-item text-center {% active request.path "Logout" %}"
                                   href="{% url "Logout" %}">
                                    <i class='fa fa-sign-out' style='color:red'></i> <strong>Log Out</strong></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown"><i
                                class='fa fa-user-plus' style='color:#30fcfa'></i> Sign Up</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% active request.path "student_signup" %}"
                                   href="{% url "student_signup" %}">As a Student</a></li>
                            <li><a class="dropdown-item {% active request.path "doctor_signup" %}"
                                   href="{% url "doctor_signup" %}">As a Doctor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown">
                            <i class='fa fa-sign-in' style='color:#30fcfa'></i> Login</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% active request.path "Login" %}" href="{% url "Login" %}">
                                As a User</a></li>
                            <li><a class="dropdown-item" href="{% url "admin:login" %}">As a Admin</a></li>
                        </ul>
                    </li>
                    <li>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
