{% extends 'layouts/base.html' %}
{% block head %}
    <script>
        var TxtType = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            var that = this;
            var delta = 200 - Math.random() * 100;

            if (this.isDeleting) {
                delta /= 2;
            }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            var elements = document.getElementsByClassName('typewrite');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);
        };</script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <link href="https://fonts.cdnfonts.com/css/cheque" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/molin" rel="stylesheet">
{% endblock head %}
{% block theme %}bg-black{% endblock theme %}
{% block content %}
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/meta.png"
                     width="1000" height="450">
                <div class="carousel-caption">
                    <h1 class="text-capitalize" style="font-family: 'Cheque', sans-serif">
                        We Teach Student how to make real difference</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-7">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/media/wearing.jpeg"
                             width="1000" height="450">
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="container text-center text-capitalize">
                <h4 style="color: white;font-family: 'Molin', sans-serif">Start Learning Today</h4>
                <br>
                <p>
                    <a class="btn btn-lg btn-primary text-center" href="{% url "student_signup" %}"
                       style="background-color: blueviolet">
                        Register As a Student</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-7">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/media/icon.jpg"
                             width="1000" height="450">
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="container text-center text-capitalize">
                <h4 style="color: white;font-family: 'Molin', sans-serif">All you need is just a VR glasses</h4>
                <br>
                <p>
                    <a class="btn btn-lg btn-primary text-center" href="{% url "student_signup" %}"
                       style="background-color: blueviolet">
                        Register As a Student</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-7">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/media/Metaverse-Social.jpg"
                             width="1000" height="450">
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <div class="container text-center text-capitalize">
                <h4 style="color: white;font-family: 'Molin', sans-serif">Interact as in a real class</h4>
                <br>
                <p>
                    <a class="btn btn-lg btn-primary text-center" href="{% url "student_signup" %}"
                       style="background-color: blueviolet">
                        Register As a Student</a>
                </p>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}
