{% extends 'layouts/base.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"
          integrity="sha512-sopmFEmRVsWt542K+yzH3FQ1KJfdosOJG+bGLs9ZJT07b/3gUxRA9ICuJg2JtoZ9WeknAUuwJ0ggnmrV1YL6kQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        .fa-google {
            background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
        }
    </style>
{% endblock head %}
{% block theme %}{% endblock theme %}
{% block content %}
    <main class="form-signin text-center">
        <br>
        <form class="row align-items-center" method="post">
            {% csrf_token %}
            <div class="col"></div>
            <div class="col card">
                <br>
                <div class="card-title ">
                    {#        <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
                    <h1 class="mb-3">Please sign in</h1>
                </div>
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="email" placeholder="name@example.com" name="email"
                               required>
                        <label for="email">Email address or Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                               required>
                        <label for="password">Password</label>
                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me" name="remember_me" id="remember_me">
                            <b>Remember me</b>
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col"></div>
        </form>
        <br>
        {% load socialaccount %}
        <div class="col">
            <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-block btn-social btn-lg btn-reddit col-3" type="submit">
                    <span class="fa-brands fa-google fa_with_bg" style="background-color: white"></span>
                    Log in with Google
                </button>
            </form>
            <br>
            <form action="{% provider_login_url "github" %}" method="post">
                {% csrf_token %}
                <button class="btn btn-block btn-social btn-lg btn-github col-3" type="submit">
                    <span class="fa-brands fa-github"></span>Log in with Github
                </button>
            </form>
            <br>
            <form action="{% provider_login_url "github" %}" method="post">
                {% csrf_token %}
                <button class="btn btn-block btn-social btn-lg btn-twitter col-3" type="submit">
                    <span class="fa-brands fa-twitter"></span>Log in with Twitter
                </button>
            </form>
            <br>
            <br>
            <br>
        </div>
    </main>
{% endblock content %}